@import "colors";

@mixin serif-text($size){
	font-family: "Georgia", serif;
	line-height:1.3em;
	font-size:$size;
}

@mixin sans-serif-text($size){
	font-family: "Arial", sans-serif;
	line-height:1.3em;
	font-size:$size;
}

@mixin buttons_wrapper(){
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

@mixin button($number:4){
	@include sans-serif-text(11px);
	width: (percentage(1 / $number)) - 4%;
	color:black;
	display: flex;
	align-items:center;
	justify-content:center;

	margin: 1% 0;
	padding:0 1%;
	height:46px;
	background-color:#eee;
	text-align: center; 
	cursor:pointer;
	color:black;
	transition:all 150ms;
	text-decoration:none;
	position: relative;

	&:before{
		content: attr(data-order);
		display: block;
		background-color:white;
		background-color:rgba(white,.6);
			height: 20px;
			width:20px;
			
		border-radius: 50%;
		font-weight:bold;
		font-size:1.2em;
		line-height: 1.68em;
		position:absolute;
		left:10px;
		top:(46px - 20px) / 2;
	}

	&.active, &.active:hover{
		text-decoration:none;
		background-color:$highlight_color;
		font-weight: bold;
		color:black;
		transition:all 150ms;

		&:before{
			color:black;
		}
	}

	&:hover{
		opacity: .8;
		color:black;
	}
}

$highlight_color:$trib_orange;
$highlight_color_light:lighten($highlight_color, 30%);

@import "legends_and_keys";

// ##############
// Utilities
// ##############

.show-phone{display:none;}


// ##############
// CHART
// ##############

.key {
	@include sans-serif-text(12px);
	margin:0;
	line-height:2em;
	text-align:center;

	.box{
		margin-left:10px;
		border:none;
		border-radius:50%;
		&--rest{
			background-color: $trib_light_blue;
		}
		&--big{
			margin-left:0;
			background-color: $trib_blue;
		}
	}
}

.pigchart__container,
.pigchart{
	position: relative;
}

.bar{
	&--big{
		fill:$trib_blue;
	}
	&--rest{
		fill:$trib_light_blue;
	}
}

.bar-label{
	&--big, &--rest{
		@include sans-serif-text(11px);
		font-weight:bold;
		text-align:center;
	}
}

.axis{
	@include sans-serif-text(10px);

	&.x{
		font-weight: bold;
	}
}

.changeline{
	&--rest{
		stroke:red;
		fill:none;
	}
	&--big{
		stroke:yellow;
		fill:none;
	}
}

.overlays__sentence-container{
	margin:15px 0;
	background: $highlight_color_light;
	text-align: left;
	position: relative;
	text-align:center;
	width: 100%;
	display: flex;
	align-items:center;
	justify-content:center;
	height:140px;
	border-radius:10px;
	&:after{
		content:"\25BC";
		position:absolute;
		color: $highlight_color_light;
		top:97%;
		left:50%;
		transform: scale(3,1);
	}
}

.overlays{
	&__header{
		@include sans-serif-text(18px);
		font-weight: bold;
		margin:0;
		text-align:center;
	}

	&__subheader{
		@include sans-serif-text(14px);
		font-style:italic;
		margin:0;
		line-height: 1.5em;
		text-align:center;
	}

	&__sentence{
		@include serif-text(19px);
		margin: 0;
		padding: 10px;
	}


	&__sources{
		@include sans-serif-text(12px);
	}

}

.highlight{
	display: inline-block;
	padding: 2px 5px;

}

.highlight--big{
	background-color:$trib_blue;
	color:white;
}

.highlight--rest{
	background-color:$trib_light_blue;
}

// ##############
// BUTTONS/UI
// ##############


.chart-buttons{
	@include buttons_wrapper()

	.chart-button{
		@include button(4);
	}
}



.label{
	@include sans-serif-text(14px);
	font-weight:bold;
}

// TODO: Mobilize chart button numbers

@media all and (max-width:850px){
	.overlays{
		&__sentence{
			@include serif-text(15px);
		}
	}
}

@media all and (max-width:700px){
	.chart-buttons{
		.chart-button{
			width:46%;
		}
	}

	.hide-phone{display:none !important;}
	.show-phone{display:block;}
}

@media all and (max-width:550px){
	.overlays__sentence-container{
		height:150px;
	}

	.overlays__sentence{
		font-size: 14px;
	}
}

@media all and (max-width:420px){
	.overlays__sentence-container{
		height:160px;
	}

}

@media all and (max-width:380px){
	.chart-buttons .chart-button{
		&:before{
			left:3px;
			background:transparent;
		}
	}
}