{# Override the `container` block to disable default layout. #}
{% block container %}
{% block content %}
<link rel="stylesheet" href="/as/prod/chinews/stylesheets/main.1q2w3_b3a660bc45f3ba1aa24b3d0941ee4f14.min.css">
<link rel="stylesheet" href="/as/prod/chinews/stylesheets/fonts.1q2w3_232453b090bae07860887d948fe32b10.min.css">
<link rel="prefetch" href="/as/prod/chinews/stylesheets/modules.1q2w3_0c75f3b11f4852297decf9a1526df078.min.css">
{% include "_content.html" %}
{% endblock content %}
{% endblock container %}
